body {
  background-color: #e5e5e5;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #14213d;
}

img {
  height: auto;
  width: 400px;
}

h2 {
  color: #b87811;
}
